.content-trainings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12.5vw;
    align-items: flex-start ;
    margin-top: 4vh;
    background: rgba(25, 25, 25, 0.95) !important;
}

.section-styles{
    font-size: 2.5vh !important;
    font-weight: 700 !important;
    // color: #fafafa;
    // width: 15vw;
}   

.header-trainings{
    font-size: 4.25vh;
    font-weight: 800;
    color: #B70000;
    font-style: italic;
}

.content-text-trainings{
    font-size: 2.75vh;
    font-family: 'Lato', sans-serif;
    color: #fafafa;

}

.trainings-main{
    background: rgba(25, 25, 25, 0.95) !important;
    height: 100%;
}

.title-of-trainings{
    color: #B70000;
    font-size: 4.5vh;
    font-style: italic;
}

.text-of-trainings{
    font-size: 2.75vh;
    color: #ddd;  
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    
}

.button-zapisz{
    width: 50%;
    height: 5vh;
    font-size: 2.25vh !important;
    font-weight: 600 !important;
    color:  #fafafa;
    background:#B70000 !important;
    &:hover{
        color: #B70000 !important;
        background: #fafafa !important;
        transition: ease-in-out 0.4s;
    }
}