.current-cards{
    display: grid;
    // max-width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 3dvw;
    // grid-template-rows: 2dvh;

}

.tripcard{
    width: 375px;
    &:hover{
        border: 1px solid #B70000;
        cursor: pointer;
        // box-shadow: 1px 1px 1px 1px #AAA;
    }
    @media (max-width:900px){
        width: 300px;
    }
}

.trip-describtion{
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: auto;
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(38, 38, 38, 0.75);
    @media (max-width: 900px){
        width: 90vw;
        background: none;
        border: none;
    }
}

.roads-describtion{
    display: flex;
    gap: 2.5%;
    flex-direction: row;
    @media (max-width: 900px){
        flex-direction: column;
        align-items: center;
    }
    margin-bottom: 20px;
    .text-road-desc{
        color: #ccc;
        padding: 2%;
        font-size: 18px;
        width: 600px;
        @media (max-width: 900px){
            width: 300px;
            font-size: 12px;
            // margin-left: 7.5vw;
        }
    }
}

.bike-park-desc{
    color: #ccc;
    padding: 2% 10%; 
    font-size: 18px;
    @media (max-width: 900px){
        padding: 0px  0px !important;
        width: 75vw;
        font-size: 14px;
    }
}

.img-maps{
    width: 500px;
    @media (max-width: 900px){
        width: 300px;
        margin: 20px;
    }
}

.instructors{
    margin: 80px;
    border-top: 1px solid #eee;
    padding: 0px 40px;
    padding-top: 50px;
    @media (max-width: 900px){
        padding: 0px 0px;
        font-size: 18px;
        // padding-top: 20px;
    }
}