.css-z5gn4u-MuiSvgIcon-root{
    display: none !important;
}

.nav-main-general{
    background: rgba(10, 10, 10, 0.1);
    border-bottom: 1px solid #fafafa;
    // display: flex !important;
    // text-align: left;
    padding-left: 0vh;
    justify-content: flex-start !important;
    @media(max-width: 900px){
        justify-content: center !important;
        padding-left: 10vw;

    }
}

.navbar-main-content{
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    @media (max-width: 900px){
        justify-content: center !important;
    }
}

.nav-img-logo{
    padding-top: 0.5vh;
    width: 3.5vw;
    height: 3.5vw;
    @media (max-width: 900px){
        width: 5vw;
        height: 5vw;
  
    }
}

.nav-link-item{
    &:hover{
        background: rgba(10, 10, 10, 0.4) !important;
    }
}

.navButton2{
    font-size: 1.5vw !important;

    @media (max-width: 900px){
        font-size: 3vw !important;

    }
    
}