.footer-main{
    width: 100%;
    height: 6.5vh;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}


.icon-social{
    width: 75%;
    height: 75%;
    cursor: pointer;
    &:hover{
        color: #AAA;
    }
}

.team-photos-main{
    display: flex;
    justify-content: center;

    .team-photos{
        height: 66.6vh;
        width: 66.6vw;
        display: flex;
        padding: 2%;
        gap: 5%;
    }
}   

.text-member{
    position: absolute; 
    left: 0;
    right: 0; 
    margin: 10%;
    top: 0%;
}

