.ouroffer-main{
    width: 99vw;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .ouroffer-content{
        background-color: rgba(10 , 10, 10, 0.2);
        display: flex;
        border: 2px solid #222;
    }
}

.training-item{
    height:82.5vh;
    width:25vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;

   
      
    .training-img{
        width:25vw;
        height:32.5vh;
        padding-bottom:0px;
            
    }

    .training-title{
        height:10vh;
        text-align:center;
        font-weight:600;
        letter-spacing:0.15vh;
    }

    .training-icon-content{
        margin-top:2.5vh;
        width:100%;
        text-align:center;
    }

    .training-description{
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content:flex-end;
        height:30vh;
        margin-bottom:3vh;
        color: #fafafa;

    }

    .training-button{
        color:white;
        padding:10px;
        font-weight:600;
        letter-spacing:0.15rem;
        &:hover{
            transition: ease-in-out .6s;
            background: white !important;
            color: #B70000 !important;
        }
    }

    .training-icon{
        margin: 0px 0px; 
        height: 4vh; 
        color: #fafafa;
    }

    
    @media (max-width: 900px){
        width:33.3vw;
        height: 75vh;
        .training-icon{
            height: 4vw; 
            margin-top: 2vw;

        }
        .training-description{
            height: 50vh;
            justify-content: space-evenly;
        }

        .training-button{
            font-size: 2.5vw;
            width: 31vw;
        }
       
        .training-img{
            width:33.3vw;
            height:20.5vh;
            padding-bottom:0px;       
        }

        .training-title{
            height:15vh;
            text-align:center;
            font-weight:800;
            letter-spacing:0.15vh;
        }
    }
}

.content-training-item{
    padding: 5px 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.75vh;
    font-weight: 600;
    @media (max-width: 900px){
        font-size: 2.5vw;
    }
}

.ourOffer-title{
    font-size: 2.75vh;
    font-style: italic;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    @media (max-width: 900px){
        font-size: 1.75vw;
        font-weight: 700;
    }
}