.ouroffer-main{
    width: 99vw;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .ouroffer-content{
        background-color: #ffffff;
        display: flex;
        // box-shadow: 3px 2px #332233, 3px 1px 2px #221122;
    }
}

.content-training-item{
    padding: 5px 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.75vh;
    font-weight: 600;
}