.slide-main{
    // height: 100%;
    // width: 100vw;
    width: 100vw;
    height: 100vh;
    background: url("../../images/BackgroundSlide1.jfif");
    background-size: 100% 130%;

}

.slide-first{
    // background-image: url("../../images/BackgroundSlide1.jpg");
}