.slide-main{

}

.slide-first{
    background: url("../../images/BackgroundSlide1.jfif");
    width: 99vw;
    height: 100vh;
    background-size: 100% 130%;
    position: relative; 
    .social-container{
        position: absolute;
        top: 10%;
        right: 4%;
        width: 13vw;
        height: 6.5vh;
    }
}

.slide-second{
    padding: 3%;
}

.slide-third{
    width: 99vw;
    height: 100vh;
    background-size: 100% 120%;
    display: flex;
    flex-direction: column;
    padding: 0 20vh;
    .third-content{
        margin-top: 10vh;
        display: flex;
        gap: 10vh;
    }

}   

.fourth-slide{
    position: relative;
    height: 100%;
}